In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_excel("Sales Data-Jan'21 to Dec'21.xlsx", sheet_name="Sheet1")
df2 = pd.read_excel("Sales Data - Jan'22 to Mar'23.xlsx", sheet_name="Sheet1")
df3 = pd.read_excel("Sales Data-Apr'23 to Jan'25.xlsx", sheet_name="Sheet1")

In [3]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [4]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [5]:
df.rename(columns={"Billing Qty": "Billing Qty (pcs)"}, inplace=True)

In [6]:
print(df.head())

  Customer Name  Customer Code  Ship To Cust Code Ship To Cust Name Bill Type  \
0  N.K. Traders     10016196.0         10016196.0      N.K. Traders      ZFAC
1  N.K. Traders     10016196.0         10016196.0      N.K. Traders      ZFAC
2  N.K. Traders     10016196.0         10016196.0      N.K. Traders      ZFAC
3  N.K. Traders     10016196.0         10016196.0      N.K. Traders      ZFAC
4  N.K. Traders     10016196.0         10016196.0      N.K. Traders      ZFAC

     C        Inv.No           ODN BUS. PLACE         SO.No  ... Unnamed: 28  \
0  NaN  2.027009e+09  F22027008891       PH01  1.129146e+09  ...         NaN
1  NaN  2.027009e+09  F22027008891       PH01  1.129146e+09  ...         NaN
2  NaN  2.027009e+09  F22027008891       PH01  1.129146e+09  ...         NaN
3  NaN  2.027009e+09  F22027008891       PH01  1.129146e+09  ...         NaN
4  NaN  2.027009e+09  F22027008891       PH01  1.129146e+09  ...         NaN

   Unnamed: 29 Unnamed: 30  Unnamed: 31  Unnamed: 32 Unnamed: 33  Unnamed: 34  \
0          NaN         NaN          NaN          NaN         NaN          NaN
1          NaN         NaN          NaN          NaN         NaN          NaN
2          NaN         NaN          NaN          NaN         NaN          NaN
3          NaN         NaN          NaN          NaN         NaN          NaN
4          NaN         NaN          NaN          NaN         NaN          NaN

  Unnamed: 35 Unnamed: 36  Unnamed: 37
0         NaN         NaN          NaN
1         NaN         NaN          NaN
2         NaN         NaN          NaN
3         NaN         NaN          NaN
4         NaN         NaN          NaN

[5 rows x 76 columns]

In [7]:
print(df.isnull().sum())

Customer Name        293296
Customer Code        293296
Ship To Cust Code    293296
Ship To Cust Name    293296
Bill Type            293296
                      ...
Unnamed: 33          194935
Unnamed: 34          194935
Unnamed: 35          194935
Unnamed: 36          194935
Unnamed: 37          194935
Length: 76, dtype: int64